name: Deploy

concurrency:
  group: deploy-${{github.ref}}
  cancel-in-progress: true

on:
  push:
    branches:
      - "**"
  release:
    types:
      - created

jobs:
  deploy:
    if: github.event_name == 'release' || github.ref == 'refs/heads/main' || contains(github.event.head_commit.message, '[stagingdeploy]') || contains(github.event.head_commit.message, '[testnetdeploy]')
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        shell: bash
        id: prep
        run: |
          if [[ ${{ github.ref }} == refs/heads/main ]] || [[ "${{github.event.head_commit.message}}" == *"[testnetdeploy]"* ]]; then
            echo "::set-output name=deployment::testnet" 
            echo "::set-output name=vm_host::${{ secrets.TESTNET_VM_HOST }}"
          else
            echo "::set-output name=deployment::staging"
            echo "::set-output name=vm_host::${{ secrets.STAGING_VM_HOST }}"
          fi

          # This is the official way to setup secret values that are multi-line, such as an SSH private key.
          echo 'vm_ssh_key<<EOF' >> $GITHUB_ENV
          echo "${{ secrets.VM_SSH_KEY }}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Connect via SSH, update the repo and run
        uses: appleboy/ssh-action@master
        with:
          host: ${{ steps.prep.outputs.vm_host }}
          username: validator
          key: ${{ env.vm_ssh_key }}
          port: 22
          script_stop: true
          script: |
            cd go-tableland
            git fetch && git checkout -f ${{ github.sha }}
            cd docker
            
            HEALTHBOT_ENABLED=true make ${{ steps.prep.outputs.deployment }}-up

            # Wait to start and double-check we're running the expected version.
            # This helps having a green check in the GH Action be high-signal that everything is fine.
            sleep 5;
            for i in 1 2 3 4; do [ $(curl --insecure --silent https://127.0.0.1/version | jq .GitCommit) = "\"${{ steps.prep.outputs.sha_short}}\"" ] && break || (if [ $i = 4 ]; then exit -1; else sleep 5; fi ) done 
            echo "All healthy!"

